<footer id="footer">
  <div class="socials df jc-c ai-c">
    <a href="#" class='icon icon-fb'></a>
    <a href="#" class='icon icon-line'></a>
    <a href="#" class='df ai-c phone'>
      <span class="icon icon-phone2"></span>
      <span class="txt green-txt">
        客服專線： 0800-885797
      </span>
    </a>
  </div>
  <div class="copyRight gray-txt">
    copyright © 2020 snug all rights reserve
  </div>
</footer>