<footer id="footer">
  <div class="socials df jc-c ai-c">
    <a target='_blank' href="https://www.facebook.com/supersocks.supersocks" class='icon icon-fb'></a>
    <a target='_blank' href="https://line.me/R/ti/p/%40714rlrhg" class='icon icon-line'></a>
    <a target='_blank' href="tel:+0800-885797" class='df ai-c phone'>
      <span class="icon icon-phone2"></span>
      <span class="txt green-txt">
        客服專線： 0800-885797
      </span>
    </a>
  </div>
  <div class="copyRight gray-txt">
    copyright © 2020 snug all rights reserve
  </div>
</footer>